# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars   # never commit real values

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
id_rsa
id_rsa.pub
